<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p><input type="text" name="name"></p>
    <p><input type="file" name="img" accept="image/*"></p>
    <p><textarea rows="10" cols="10" name="desc">
    </textarea></p>
    <input type="submit" value="上传图片">
</form>

<form action="#" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p><input type="text" name="name"></p>
    <p><input type="file" name="img" multiple accept="image/*"></p>
    <p><textarea rows="10" cols="10" name="desc">
    </textarea></p>
    <input type="submit" value="上传图片">
</form>
</body>
</html>